* {
    margin: 0;
    padding: 0;
    font-family: 'Righteous', cursive;
}

#bg-img {
    width: 100%;
    height: 100vh;
    background: linear-gradient(27deg, #f69d3c, #ebf8e1, #3f87a6);
}
#goBack a{
     text-decoration: none;
     position: relative;
     padding: 07px;
     top: 20px;
     left: 20px;
     border-right: 3px solid #50504f;
     border-left: 3px solid #50504f;
     border-radius: 20px;
     color: #50504f;
     box-shadow: -15px -15px 15px rgb(255, 255, 255, 0.2),
        15px 15px 15px rgb(0, 0, 0, 0.1),
        inset -5px -5px 5px rgb(255, 255, 255, 0.2),
        inset 5px 5px 5px rgb(0, 0, 0, 0.1);
}
#user {
    width: 100px;
    height: 100px;
    position: relative;
    top: 15px;
    left: calc((350px - 100px)/2);
}

#centerdiv {
    width: 350px;
    height: 450px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -15px -15px 15px rgb(255, 255, 255, 0.2),
        15px 15px 15px rgb(0, 0, 0, 0.1),
        inset -5px -5px 5px rgb(255, 255, 255, 0.2),
        inset 5px 5px 5px rgb(0, 0, 0, 0.1);
    background: linear-gradient(27deg, #3f87a6, #ebf8e1, #f69d3c);

}

h2 {
    margin-top: 40px;
    margin-bottom: 38px;
    text-align: center;
    font-size: 30px;
    color: #50504f;
}

.input {
    width: calc((100% - 70px));
    font-family: sans-serif;
    border: 0;
    background-color: transparent;
    border-radius: 20px;
    padding: 8px;
    padding-left: 10px;
    display: block;
    margin: auto;
    outline: 0;
    font-size: 18px;
    box-shadow: -15px -15px 15px rgb(255, 255, 255, 0.2),
        15px 15px 15px rgb(0, 0, 0, 0.1),
        inset -5px -5px 5px rgb(255, 255, 255, 0.2),
        inset 5px 5px 5px rgb(0, 0, 0, 0.1);
}

#password {
    margin-top: 15px;
}

#btn {
    margin-top: 40px !important;
    display: block;
    margin: auto;
    border: 0;
    background-color: transparent;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-size: 18px;
    color: #50504f;
    font-weight: bold;
    box-shadow: -15px -15px 15px rgb(255, 255, 255, 0.2),
        15px 15px 15px rgb(0, 0, 0, 0.1),
        inset -5px -5px 5px rgb(255, 255, 255, 0.2),
        inset 5px 5px 5px rgb(0, 0, 0, 0.1);
}
h5{
    position: absolute;
    left: 80px;
    top: 410px;
    color: #2f2f2e;            
}
.signUp{
color: #2e6b85;
text-decoration: none;

}

#btn:hover {
    cursor: pointer;
    /* font-size: 20px; */
    border: 1px solid #50504f;
}